/**
 * @Author: Jecyu
 * @Date: 2017-11-14 12:59:25 am 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-11-14 10:03:22 am 
 */
body {
    background: white;
    color: #333;
    transform: rotate(45deg);
    display: flex;
}