/**
 * @Author: Jecyu
 * @Date: 2017-11-03 10:16:47 am 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-11-09 12:50:27 pm 
 */

.page-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}